.RR_description {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  padding: 10px;
}

.RR_header {
  margin: 30px 10px 10px 10px;
}

.RegistrationForm {
  border: 1px solid black;
  margin: 10px 10px;
}

.RegistrationForm > div {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: auto;
  width: fit-content;
}

.Registration_label {
  margin: 0px 0px 10px 0px;
}

.Registration_input {
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 20px;
  font-size: 16px;
}

.Registration_footer > .Registration_button {
  margin: 0px auto 20px auto;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 30px;
  display: flex;
}



.Registration_footer {
  margin: 10px auto;
  text-align: center;
}

.Registration_footer > a {
  text-decoration: none;
  color: black;
}


.Registration_button:hover {
  background-color: #8BAAAD;
}

@media (min-width: 700px) {
  .RR_description {
    font-size: 24px;
  }

  .RR_header {
    margin: 30px 10px 10px 20%;
  }
  
  .RegistrationForm {
    width: 60%;
    margin: auto;
    
  }

  .RegistrationForm > div {
    flex-direction: row;
  }

  .Registration_label {
    margin: 0px 20px 10px 0px;
  }
}
