.Login_header {
  margin: 30px 10px 10px 10px;
  color: black;
  padding-top: 30px;
}

.LoginForm {
  border: 1px solid #CF751F;
  margin: 10px 10px;
}

.LoginForm_fields > div {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: auto;
  width: fit-content;
  align-items: center;
  margin-bottom: 20px;
}

.Login_label {
  margin: 0px 0px 10px 0px;
  height: fit-content;
}

.Login_input {
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 20px;
  font-size: 16px;
}

.Login_input:focus{
  border: 2px solid black;
}

.Login_button {
  margin: 0px auto 20px auto;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  width: 50px;
}

.Login_button:hover,  .Login_button:focus{
  border-color: #CF751F;
  color: #CF751F;
}

@media (min-width: 700px) {
  .Login_header {
    margin: 30px 10px 10px 20%;
  }
  
  .LoginForm {
    margin: auto;
    
  }

  .LoginForm_fields > div {
    flex-direction: row;
  }

  .Login_label {
    margin: 0px 20px 10px 0px;
  }
}

@media (min-width: 500px) {
  .LoginForm {
    width: 60%;
    margin: auto;
  }
  .Login_header {
    margin: 30px 10px 10px 20%;
    padding-top: 30px;
  }

}